:root {
  --main-bg-color: #f6f8fc;
  --main-fn-color: #202124;

  --clr-blue2: #c2e7ff;
  --clr-blue1: #a8c7fa;

  --clr-yellow1: #feefc3;

  --clr-mail-border: rgba(128, 128, 128, 0.207);
}
